body{   
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.menu{
    text-align: top;
}
.logo{
    text-align: left;
    display: inline-block;
    
}

ul{
    background-color: #202121;      
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    overflow: hidden;
    list-style: none; 
}
a{     
    color: #f1fffd;
    text-decoration: none;
    text-align: left;
    float: right;
    display: block;
    padding: 16px 32px;  
}

a:hover{
    color: #e0ae1b;   
}

h1{
    text-align: center;
    clear: right;
}