body{
    padding: 0;
    margin: 0;
    background-color: #f1fffd;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    float: right;
    /* display: inline-block; */
    
   
}
li{ 
    color: #f1fffd;
    text-align: center;
    display: block;
    padding: 16px 32px ;
    text-decoration: none;
    cursor: default;
    text-align: left;
}
ul{
    list-style: none;
    background-color: #202121;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 100%;
    position: fixed;
    overflow: auto;
}

li:hover{
    color: #e0ae1b;   
}
.menuLine{
    border: 2px solid #e0ae1b;
    width: 40%;
    text-align: center;
    margin: auto;
}