html{
    scroll-behavior: smooth;
    scroll-margin: 145px;
    /* overflow-x: hidden; */
}
body{   
    background-color: #f1fffd;
    font-family: 'Lekton', 'Open Sans', 'Lato', 'HelveticaNeue', helvetica, arial, sans-serif;
    position: relative;
    padding: 0;
    margin: 0;
}

body ::selection{
    background-color: #D92365;
}

a{
    list-style-type:none;
    text-decoration: none;
    display: inline-block;
}

::placeholder{
    color: #e0ae1b;
    padding: 7px;
}

.topnav{
    background-color: #f1fffd;
    box-shadow: 0px 0px 8px #dae6e4;
    justify-content: right;
    display: block;
    position: fixed;
    list-style: none;
    margin: 0;
    padding: 20px;
    width: 100%;
    top: 0;
}

.topnav a {
    color: #202121;
    float: right;
    /* text-align: left; */
    padding: 0 40px;
    margin-top: 33.7px;
    font-size: 0.97rem;
    
}
                          
.topnav a:hover {
    color: #e0ae1b;
    transform: scale(1.1,1.1);
}

.active{
    float: left;
}

.active img{
    width: 80px;
}

.active a{
    margin: 0;
    
}

.topnav .icon {
    display: none;
    font-size: 20px;
}



                        /* initial content */

#home{
    text-decoration:none;
    list-style-type:none;
    margin-top: 110px;
    object-fit: cover;
    box-sizing: border-box;
}

.main-content-home{ 
    background-color: #202121;
    color: #97a19f;
    vertical-align: auto;
    font-size: 2.8rem;
    padding: 10% 9.5%;
    min-width: 325px;
    transform: translate(0px, 0px, 0px);
    opacity: 1;
}

.main-content-home h3{
    
    font-size: 25px;
}

.button-about{
    background-color: #e0af1b75;
    border: 10px;
    color: #202121;
    list-style-type:none;
    border-radius: 3px;
    font-size: 15px;
    padding: 15px 65px;
    margin: 0;
    margin-bottom: 33.651px;
}

.button-about:hover{
    background: #e0ae1b;
    color: #202121;
    box-shadow: 0px 0px 8px #e0af1b75;
    transform: scale(1.03,1.03);
}

#speciality{
    display: inline-block;
    width: 100%;
    padding-top: 60px;
}

.title-speciality{
    background-color: #0f2d69;
    display: inline-block;
    text-align: left;
    width: 250px;
    padding-left: 60px;
}

.container-speciality{
    background-color: red;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 200px;
}


                /* construction quality */

#qualities{
    display: inline-block;
    margin-bottom: 50px;
    text-align: left;
}

.calidade-text-content{
    font-size: 1.2rem;
    padding:9.5%;
    padding-top: 6%;
    padding-bottom: 0;
}

.calidade-text-content h1{
    color: #e0ae1b;
}

.container-calidades{
    text-align: center;
    margin-top: 35px;
    padding: 20px;
    max-width: 4000px;
    /* width: 100%; */
    height: 100%;
}

.calidades-types{
    background-color: #202121;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 15px;
    margin: 7px;
    min-width: 200px;
    width: 40%;
    min-height: 300px;
    height: 400px;
}

.column-inner{
    background-color: #e0af1b44;
}

.column-inner h3{
    color: #202121;
    margin: 0px 0px 19px;
    font-size: 1.6rem;
    margin: 10px;
    padding: 15px;
}

                /* construction about */

.content-about{
    background-image: url(../images/background/steel-frame-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
}

.about-box{
    background-color: #e0ae1b;
    box-sizing: border-box;
    max-width: 800px;
    width: 100%;
    height: 500px;
    padding: 30px;
}

.text-about{
    color: #202121;
    text-align: left;
}

                /* construction footer */


#footer{
    background-color: #202121;
    text-align: center;   
    margin: 0;
    width: 100%;
    max-height: 100%; 
}

.footer-text {
    color: #e0ae1b;
    margin: 50px 0px;
}

.position-of-contents{
    display: inline-block;
}

.getintouch-email{
    width: 430px;
    /* height: 00px; */
    padding: 20px;
}

input, select{
    background-color: #3a4141cd;
    color: #e0ae1b;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 71%;
    height: 40px;
}

.message{
    overflow-x: auto;
    width: 71%;
    height: 65px;
}

option{
    color: #e0ae1b;
    opacity: 1; 
}

.send-info{
    background-color: #e0ae1b;
    color: #202121;
    /* text-align: center; */
    border-radius: 10px;
    width: 80px;
    height: 30px;
}

.send-info:hover{
    background-color: #e0ae1b;
    color: #202121;
    box-shadow: 0px 0px 8px #e0af1b75;
}

.lefttext-info-contacts{
    color: #e0ae1b;
    float: left;
    margin: 10px 10px;
}

#send-message-instagram{
    background-color: #E1306C;
    color: #fff;
    display: none;
    position: fixed;
    right: 20px;
    bottom: 80px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 45px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 50%;
    text-align: center;
    z-index: 100;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#send-message-whatsapp{
    background-color: #35a812;
    color: #fff;
    display: none;
    position: fixed;
    right: 20px;
    bottom: 25px;
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 45px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 50%;
    text-align: center;
    z-index: 100;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.fa-angle-up:before {
    content: "&#xf16d;";
}


                          /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
    @media screen and (max-width: 915px) {
        .topnav a:not(:first-child) {display: none;}
        
        .topnav a.icon {
        float: right;
        display: block;
        }

        .initial-img{
            height: 100%;
        }
        
        .topnav.responsive {position: fixed;}
        .topnav.responsive a.icon {
        position: absolute;
        right: 20px;
        top: 18px;
        }
        .topnav.responsive a {
        float: none;
        display: block;
        clear: left ;
        margin-bottom: 5px;
        }
    }
  
 @media screen and (max-width: 600px){

        .wpb-calidades-types{
            float: left;
            min-width: 40%;
            height: 250px;
        }
    }

    @media screen and (max-width: 500px){

        .wpb-calidades-types{
            display: block;
            /* width: 90%; */
            height: 250px;
            /* padding: 0;
            margin: 0; */
        }
    }

    @media screen and (max-height: 500px) {
        .topnav{position: static;}
        .topnav.responsive {position: absolute;}
    }

    

.divider{
    height: 70px;
}